src/main/java/team17/sheet09/client/ws/Calculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://server.sheet09.team17/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.sheet09.team17/"
        name="RemoteCalculatorService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://server.sheet09.team17/"
                        schemaLocation="http://localhost:8080/sheet09/services/Calculator?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="Add">
        <part name="parameters" element="tns:Add"/>
    </message>
    <message name="AddResponse">
        <part name="parameters" element="tns:AddResponse"/>
    </message>
    <message name="Multiply">
        <part name="parameters" element="tns:Multiply"/>
    </message>
    <message name="MultiplyResponse">
        <part name="parameters" element="tns:MultiplyResponse"/>
    </message>
    <message name="Subtract">
        <part name="parameters" element="tns:Subtract"/>
    </message>
    <message name="SubtractResponse">
        <part name="parameters" element="tns:SubtractResponse"/>
    </message>
    <message name="Lucas">
        <part name="parameters" element="tns:Lucas"/>
    </message>
    <message name="LucasResponse">
        <part name="parameters" element="tns:LucasResponse"/>
    </message>
    <portType name="RemoteCalculator">
        <operation name="Add">
            <input wsam:Action="http://server.sheet09.team17/RemoteCalculator/AddRequest" message="tns:Add"/>
            <output wsam:Action="http://server.sheet09.team17/RemoteCalculator/AddResponse" message="tns:AddResponse"/>
        </operation>
        <operation name="Multiply">
            <input wsam:Action="http://server.sheet09.team17/RemoteCalculator/MultiplyRequest" message="tns:Multiply"/>
            <output wsam:Action="http://server.sheet09.team17/RemoteCalculator/MultiplyResponse"
                    message="tns:MultiplyResponse"/>
        </operation>
        <operation name="Subtract">
            <input wsam:Action="http://server.sheet09.team17/RemoteCalculator/SubtractRequest" message="tns:Subtract"/>
            <output wsam:Action="http://server.sheet09.team17/RemoteCalculator/SubtractResponse"
                    message="tns:SubtractResponse"/>
        </operation>
        <operation name="Lucas">
            <input wsam:Action="http://server.sheet09.team17/RemoteCalculator/LucasRequest" message="tns:Lucas"/>
            <output wsam:Action="http://server.sheet09.team17/RemoteCalculator/LucasResponse"
                    message="tns:LucasResponse"/>
        </operation>
    </portType>
    <binding name="RemoteCalculatorPortBinding" type="tns:RemoteCalculator">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="Add">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Multiply">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Subtract">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="Lucas">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="RemoteCalculatorService">
        <port name="RemoteCalculatorPort" binding="tns:RemoteCalculatorPortBinding">
            <soap:address location="http://localhost:8080/sheet09/services/Calculator"/>
        </port>
    </service>
</definitions>